<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%-include('header')%>
    <h1>Student Report Card</h1>
    <!-- showing single student if only one object -->
    <!-- <p>Name: <%=student.name%></p>
    <p>Grade: <%=student.grade%></p> -->

    <!-- showing array of objects -->
     <% student.map((stud)=>{ %>
        <p>Name: <%=stud.name%></p>
    <p>Grade: <%=stud.grade%></p>

      <%}) %>
    
</body>
</html>